// Import our basis styles for sanity and font rendering correctness.
@import 'basis';

body {
  background: #111;
}

h2.title {
  text-align: center;
  color: #FDFDFD;
  margin: 0 1em;
  word-wrap: break-word;

  // Javascript animation state.
  opacity: 0;

  // Center this puppy on the screen.
  @extend .vertical-center;
  padding-bottom: 0.25em;
}
