// Use bourbon and neat for niceness.

@import "bourbon",
        "basis",
        "neat";

// Import our basis styles for sanity and font rendering correctness.

body {
  color      : #FAFAFA;
  background : #111;
  text-align : center;
}

h2.title {
  @extend          .vertical-center;
  display        : inline-block;
  padding        : 0.5em;
  padding-bottom : 0.63em;
  opacity        : 0;
  text-align     : center;
  word-wrap      : break-word;

  div.username {
    margin-top : 1.5em;
    font-size  : 15px;
  }

  div.logout {
    margin    : -20px;
    font-size : 15px;
  }

  div.login {
    margin-top : 1.5em;
    font-size  : 15px;
  }
}

input[type="submit"] {
  padding        : 0.5em 2em;
  padding-bottom : 0.73em;
  color          : #FFF;
  border         : none;
  border-radius  : 3px;
  background     : #333;
  outline        : none;
  box-shadow     : none;
}

.login-form {
  @extend   .vertical-center;
  display : inline-block;
  padding : 2em;

  form > div:nth-child(2) {
    padding-bottom : 30px;
  }

  form input[type="submit"] {
    @include         transition(all 0.15s ease-in-out);
    padding        : 0.5em 2em;
    padding-bottom : 0.72em;
    color          : #FFF;
    border         : none;
    border-radius  : 3px;
    background     : #333;
    outline        : none;
    box-shadow     : none;
    font-family    : 'Space Mono',
                     serif;
    font-size      : 15px;
    font-weight    : bold;
    letter-spacing : 1px;

    &:focus {
      box-shadow : 0px 0px 2px #999;
    }

    &:hover {
      color      : #444;
      background : #FFF;
      cursor     : pointer;
    }
  }

  form input[type="password"],
  form input[type="text"] {
    display     : inline-block;
    color       : #FFF;
    border      : 0;
    background  : rgba(0,0,0,0);
    outline     : none;
    box-shadow  : none;
    font-family : 'Space Mono',
                  serif;
    font-size   : 22px;
  }
}
