// Use bourbon and neat for niceness.
@import 'bourbon';
@import 'neat';

// Import our basis styles for sanity and font rendering correctness.
@import 'basis';

body {
  background: #111;
  text-align: center;
}

h2.title {
  text-align: center;
  color: #FAFAFA;
  word-wrap: break-word;
  padding: 0.5em;
  padding-bottom: 0.63em;
  display: inline-block;

  // Javascript animation state.
  opacity: 0;

  // Center this puppy on the screen.
  @extend .vertical-center;
}
