{% extends "admin/main.html" %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block scripts %}
  <script>
  var simplemde = new SimpleMDE(
    {
      element: $("#editor")[0],
      spellChecker: false,
    }
  );
  </script>
{% endblock %}
{% block content %}
<form action="/be-admin/posts/new" method="post" class="post-form">
  <p class="hug">
    <label>Title:</label>
  </p>
  <p>
    <input class="input" type="text" name="title" />
  </p>
  <p>
    <textarea id="editor" name="body"></textarea>
  </p>
  <p>
    <input class="button" type="submit" value="Create Post" />
  </p>
</form>
{% endblock %}
