{% extends "admin/main.html" %}
{% block head %}
<style>
  table > * {
    font-size: 13px;
    overflow: hidden;
  }
  table {
    min-width: 100%;
  }
</style>
{% endblock %}
{% block content %}
<h3 class="hug">Posts</h3>
<p>
  <a href="posts/new">New Post</a>
</p>
<p>
  {% if posts | length %}
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted At</th>
    </tr>
    {% for post in posts %}
    <tr>
      <td><a href="posts/{{ post.slug }}">{{ post.title }}</a></td>
      <td>{{ post.body | stripMarkdown }}</td>
      <td>{{ post.postedAt | date('MMMM Do YYYY, h:mm:ss a') }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <h4>No posts to show! Why not add one?</h4>
  {% endif %}
</p>
{% endblock %}
