{% extends "admin/main.html" %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block scripts %}
  <script>
  var simplemde = new SimpleMDE(
    {
      element: $("#editor")[0],
      spellChecker: false,
    }
  );
  </script>
{% endblock %}
{% block content %}
<form {% if not editing %} action="/be-admin/posts/new" {% endif %} method="post" class="post-form">
  <p class="hug">
    <label>Title:</label>
  </p>
  <p>
    <input class="input stretch" type="text" name="title" value="{{ post.title }}" />
  </p>
  <p class="markdown">
    <textarea id="editor" name="body">{{ post.body | safe}}</textarea>
  </p>
  <p class="hug">
    <input class="button" type="submit" \
    value="{% if editing %}Submit Changes{% else %}Create Post{% endif %}" />
  </p>
</form>
{% endblock %}
