// Load up our libs.

@import "admin_settings",
        "bourbon",
        "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css",
        "basis",
        "neat";

body {
  background : $off-white;
}

// Main content / container styles.

.container {
  @include     display(flex);
  @include     align-items(stretch);
  @include     flex-direction(row);
  min-height : 100%;

  .navigation-container {
    @include       flex(1 1 100%);
    min-width    : 250px;
    max-width    : 350px;
    border-right : 1px solid $navigation-border-color;
    // max-width: 320px;

    > * {
      @extend      .no-select;
      box-sizing : border-box;
    }

    .navigation {
      width : calc(100% + 1px);

      .title {
        @include        transition(background 0.15s ease-in-out);
        display       : block;
        position      : relative;
        width         : 100%;
        padding       : $padding;
        border-right  : 1px $navigation-border-color solid;
        border-bottom : 1px solid $navigation-border-color;
        background    : #DDD;
        text-shadow   : 0px 1px 0px rgba(255,255,255,0.6);
        font-size     : 14pt;
        cursor        : pointer;

        &:hover {
          background : lighten(#DDD, 5%);
        }

        .icon {
          display   : inline-block;
          position  : absolute;
          top       : $padding / 2;
          right     : $padding;
          font-size : $padding * 2;

          &.indicator {
            @include       transition(transform 0.15s ease-in-out);
            position     : relative;
            top          : 0;
            left         : 0;
            margin-right : $padding - 2px;
            font-size    : 18px;

            &.turned {
              @include transform(rotate(90deg));
            }
          }
        }
      }

      .user-status {
        display       : block;
        position      : relative;
        width         : 100%;
        padding       : ($padding * 0.66) $padding;
        color         : $off-white;
        border-right  : 1px #444 solid;
        border-bottom : 1px solid $navigation-border-color;
        background    : #444;
        text-shadow   : none;
        font-size     : 12px;
        cursor        : default;

        .sign-out {
          display : inline-block;
          float   : right;
        }
      }

      .items {
        ul {
          margin     : 0px;
          list-style : none;

          & > li {
            padding       : $padding * 0.5 $padding;
            border-bottom : 1px solid $navigation-border-color;
            text-shadow   : none;
            font-size     : 10pt;
          }
        }
      }
    }
  }

  .content-container {
    @include   flex(3 1 auto);

    .content {
      padding : $padding * 2;
      color   : #222;
    }
  }
}

a {
  color           : #222;
  text-decoration : none;

  &:hover {
    text-decoration : underline;
  }

  &.dark {
    color : $off-white;
  }
}

.button {
  @include         transition(background 0.15s ease-in-out);
  display        : inline-block;
  box-sizing     : border-box;
  padding        : 7.5px 15px;
  padding-bottom : 10px;
  border         : none;
  border-radius  : 30px;
  background     : #DDD;
  font-size      : 12pt;
  cursor         : pointer;

  &:hover {
    background      : #E8E8E8;
    text-decoration : none;
  }
}

// Default interface styles.

.input {
  display     : inline-block;
  padding     : $padding;
  border      : 1px solid #CCC;
  outline     : none;
  box-shadow  : none;
  font-family : $fontName;
  font-size   : 25px;

  &:active,
  &:focus {
    border  : 1px solid #343434;
    outline : none;
  }

  &.stretch {
    width : 100%;
  }
}

.close-icon {
  position      : relative;
  width         : $padding;
  height        : $padding;
  padding       : $padding;
  border-radius : $padding;

  &.left {
    float : left;
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top    : 1rem !important;
    margin-bottom : 1rem;

    &:first-of-type {
      margin-top : 0px;
    }
  }
}

table {
  width        : 100%;
  table-layout : fixed;
}

table td {
  width         : 33.333%;
  padding-right : $padding / 2;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
  vertical-align: center;
  padding: $padding 0px;
}

table th {
  border-bottom: 1px solid #BBB;
  padding: 0px;
}

.hotsauce {}
