<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BLOG ENGINE 0.0.1</title>
  <link rel="stylesheet" href="stylesheets/application.css" />
  {% block stylesheets %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
  <script src="js/application.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
